<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.ztf.StockAnalysis.mappers.StockDataAnalysisMapper">

	<select id="getTradeCMAData" resultType="java.util.HashMap">
		SELECT
		b.code,b.tradeDate,b.dateType,b.open, b.close, b.high, b.low,b.volume,
		b.amount, b.amplitude,
		MA5,MA10,MA20,MA30
		FROM (select * FROM
		tbl_trade_base_data_${year} where
		dateType=#{dtype} and code=#{code}) b
		left
		join
		tbl_trade_cma_data_${year} c on c.code=b.code and
		c.tradeDate=b.tradeDate and c.dateType=b.dateType
		where MA5!=''
	</select>

	<select id="getStockCodeData" resultType="java.util.HashMap">
		select `code`,zhName from tbl_stock_code
		<where>
			<if test="condition!=null and condition !='' ">
				`code` regexp #{condition}
			</if>
		</where>
	</select>

	<select id="getStockTradeTblCount" resultType="int">
		SELECT count(*)
		FROM information_schema.TABLES
		WHERE table_name=#{tblName};
	</select>

	<insert id="insertOrUpdateAnalysisDatas">
		INSERT INTO tbl_stockanalysis_data
		VALUES
		<foreach collection="datas" item="item" index="index"
			separator=",">
			(#{item.code},
			#{item.isZheng},
			#{item.dateList},
			#{item.ma5Changes},
			#{item.changeFu},
			#{item.dateType},
			#{item.startDate},
			#{item.endDate})
		</foreach>
		ON DUPLICATE KEY
		UPDATE
		isZheng=VALUES(isZheng),dateList=VALUES(dateList),
		dateCount=VALUES(dateCount),ma5Changes=VALUES(ma5Changes),
		changeFu=VALUES(changeFu),dateType=VALUES(dateType),
		startDate=VALUES(startDate),endDate=VALUES(endDate)
	</insert>

	<insert id="insertOrUpdateAnalysisData" parameterType="Map">
		INSERT
		INTO tbl_stockanalysis_data
		VALUES
		(#{code},#{isZheng},#{dateList},#{dateCount},#{ma5Changes},#{changeFu},#{dateType},#{startDate},#{endDate})
		ON DUPLICATE KEY UPDATE
		isZheng=VALUES(isZheng),dateList=VALUES(dateList),
		dateCount=VALUES(dateCount),ma5Changes=VALUES(ma5Changes),
		changeFu=VALUES(changeFu),dateType=VALUES(dateType),
		startDate=VALUES(startDate),endDate=VALUES(endDate)
	</insert>

	<select id="getHYStockCodeData" resultType="java.util.HashMap">
		select code,zhName,market from tbl_trade_hystock_data
		<where>
			<if test="condition!=null and condition !='' ">
				`code` regexp #{condition}
			</if>
		</where>
	</select>

	<select id="getHYCodeData" resultType="String">
		select code FROM
		tbl_trade_mrhy_data
	</select>
	<insert id="insertOrUpdateStockShouYiData" parameterType="Map">
		INSERT
		INTO tbl_stockShouYi_data
		VALUES
		(#{code},#{shouYiLv},#{isZheng},#{maiRuJia},#{maiChuJia},#{startDate},#{endDate},#{dateCount})
		ON DUPLICATE KEY UPDATE
		shouYiLv=VALUES(shouYiLv),isZheng=VALUES(isZheng),
		maiRuJia=VALUES(maiRuJia),maiChuJia=VALUES(maiChuJia),
		startDate=VALUES(startDate),endDate=VALUES(endDate),
		dateCount=VALUES(dateCount)
	</insert>
</mapper> 